*{
    box-sizing: border-box;
}

body
{
    background-color: rgb(204, 204, 204);
    color: rgb(#daa520);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 'Trebuchet MS';
    font-size: 16px;
    font-weight: lighter;
}

h1,h2
{
    color: royalblue;

}

P
{
    color: purple;
    font-size: 1.2em;
}

ul
{
    width: 80%;
}

.container
{
    border: solid red 2px;
    padding: 0.5%;
}

.container1 > div
{
    border: solid red 2px;
    padding: 0.5%;
}

.skills
{
    color: blue;
    font-size: 95%;
}

#goals
{
    color: blueviolet;
}

#portrait
{
    width: 15%;
    height: 15%;
}