*{
    box-sizing: border-box;
}

body
{
    background-color: rgb(204, 204, 204);
    color: rgb(#daa520);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 'Trebuchet MS';
    font-size: 16px;
    font-weight: lighter;
}

h1,h2
{
    color: royalblue;

}

P
{
    color: purple;
    font-size: 1.2em;
}

ul
{
    width: 80%;
}

.container
{
    border-top: solid red 2px;
    border-right: solid red 2px;
    border-bottom: solid red 2px;
    border-left: solid red 2px;
    padding: 0.5%;
}

.container1 > div
{
    border: solid red 2px;
    padding: 0.5%;
}

.skills
{
    color: blue;
    font-size: 95%;
}

.box-1 h4{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#myform
{
    background-color: gray;
    color: blanchedalmond;
    padding: 10px;
    margin: 10px 15px;
}
#myform input[type="submit"], .button
{
    padding: 8px;
    border: none;
    background-color: green;
    color: palegoldenrod;
}

#myform input[type="text"]
{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    background-color: cornflowerblue;
}

#goals
{
    color: blueviolet;
}

#portrait
{
    width: 15%;
    height: 15%;
}

a
{
    text-decoration: none;
    color: green;
}

a:visited
{
    color: black;
}

a:hover
{
    color: orangered;
}

a:active
{
    color: thistle;
}

